<footer class="site-footer">

  <div class="wrapper">

    

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li>{{ site.phone }}</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
         {% if site.twitter_username %}

         <li>
            <a href="https://instagram.com/bunminster"><span class="icon icon--twitter"><img src="http://bunminster.uk/images/Instagram-icon.png"/>
</span><span class="username">bunminster</span></a>
          </li>

          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>
        <a href="{{ full_base_url }}/">Home</a>
      </div>
    </div>

  </div>

</footer>
